* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input,
select,
textarea {
  font-family: "Cairo", sans-serif;
}

body {
  background-color: rgb(29, 28, 28);
  color: white;
}
